<template>
  <div>
    <p></p>
    <div class="top-area adjust">
      <ul class="nav-links issues-state-filters nav nav-tabs">
        <li class="active">
          <a title="Show active employees" href>Active</a>
        </li>
        <li class>
          <a title="Show inactive employees" href>Inactive</a>
        </li>
        <li class>
          <a title="Show permanent employees" href>Permanent</a>
        </li>
        <li class>
          <a title="Show contract employees" href>Contract</a>
        </li>
        <li class>
          <a title="Show all employees" href>All</a>
        </li>
      </ul>

      <div class="nav-controls">
          <input name="utf8" type="hidden" value="✓" />
          <input
            type="search"
            name="search"
            id="branch-search"
            placeholder="Search employees list"
            v-model="searchText"
            @change="search()"
            class="form-control search-text-input input-short"
            spellcheck="false"
          />
        <a class="btn btn-success" href="/employees/new">New employee</a>
      </div>
    </div>
    <p></p>
    <div>
      <ol class="list-unstyled content_list">
        <li class="commit-header" data-day="2020-05-03">
          <span class="day">{{employees.length}} Active Employees</span>
        </li>
        <li class="commits-row">
          <ul class="content-list commit-list flex-list">
            <li
              v-for="employee in employees"
              :key="employee.id"
              :artist="employee"
              class="commit flex-row js-toggle-container"
              id="commit-93e9e195"
            >
              <div class="avatar-cell d-none d-sm-block">
                <a v-bind:href="'/employees/'+ employee.id +'' ">
                  <img
                    alt="Employees's avatar"
                    src="@/assets/logo.png"
                    class="avatar s40 d-none d-sm-inline-block"
                    title="Employee"
                  />
                </a>
              </div>
              <div class="commit-detail flex-list">
                <div class="commit-content qa-commit-content">
                  <a
                    class="commit-row-message item-title js-onboarding-commit-item"
                    v-bind:href="'/employees/'+ employee.id +'' "
                  >{{employee.firstname}} {{employee.othernames}}</a>
                  <span class="commit-row-message d-inline d-sm-none">
                    ·
                    93e9e195
                  </span>
                  <div class="committer">
                    <a
                      class="commit-author-link js-user-link"
                      data-user-id="5567048"
                      v-bind:href="'/departments/' + employee.admin_departments_id + '' "
                      title
                    >{{employee.department_name}}</a>
                    <time
                      class="js-timeago"
                      title
                      datetime="2020-05-03T14:43:00Z"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                      data-original-title="May 3, 2020 5:43pm GMT+0300"
                    > {{employee.email}}</time>
                  </div>
                </div>
                <div class="commit-actions flex-row">
                  <div
                    class="js-commit-pipeline-status"
                    data-endpoint="/jaywjay/recordmanager/-/commit/93e9e19538f11c200d798b1403e4bfbd2bfa2ea0/pipelines?ref=master"
                  ></div>
                  <div class="commit-sha-group d-none d-sm-flex">
                    <div class="label label-monospace monospace">{{employee.basic_pay}}</div>
                    <button
                      class="btn btn btn-default"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                      data-title="Copy commit SHA"
                      data-class="btn btn-default"
                      data-clipboard-text="93e9e19538f11c200d798b1403e4bfbd2bfa2ea0"
                      type="button"
                      title
                      aria-label="Copy commit SHA"
                      data-original-title="Copy commit SHA"
                    >Pay</button>
                    <a
                      class="btn btn-default has-tooltip"
                      title
                      data-container="body"
                      v-bind:href="'/employees/'+ employee.id +'' "
                      data-original-title="Browse Files"
                    >Edit</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
export default {
  name: "Employees",
  data() {
    return {
      employees: [],
      newEmployee: [],
      error: "",
      editedName: "",
      searchText: ""
    };
  },
  created() {
    this.search()
  },
  methods: {
    loadEmployees() {
      this.$http.secured
      .get("/hr/employees")
      .then(response => {
        this.employees = response.data;
      })
      .catch(error => this.setError(error, "Something went wrong"));
    },
    setError(error, text) {
      this.error =
        (error.response && error.response.data && error.response.data.error) ||
        text;
    },
    search() {
      this.$http.secured
        .get('/hr/search_employees?query=' + this.searchText)
        .then(response => {
          this.employees = response.data;
        })
        .catch(error => this.setError(error, "When searching"))
    },
    addEmployee() {
      const val = this.newEmployee;
      if (!val) {
        return;
      }
      this.$http.secured
        .post("/hr/employees/", {
          hr_employee: { firstname: this.newEmployee.firstname }
        })
        .then(response => {
          this.employees.push(response.data);
          this.newEmployee = [];
        })
        .catch(error => this.setError(error, "Cannot create employee"));
    }
  }
};
</script>