<template>
  <div class="container-fluid container-limited">
    <h3 class="page-title">{{employee.firstname}} {{employee.othernames}}</h3>
    <hr />
    <form action class="issue-form" @submit.prevent="save">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group row">
            <label for="firstname" class="col-form-label col-md-2 col-lg-4">First Name</label>
            <div class="col-lg-8 col-md-10">
              <input
                type="text"
                name="firstname"
                id="firstname"
                class="form-control"
                v-model="employee.firstname"
                placeholder="First Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-form-label col-md-2 col-lg-4">Email Address</label>
            <div class="col-lg-8 col-md-10">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                v-model="employee.email"
                placeholder="someone@email.com"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="date_employed" class="col-form-label col-md-2 col-lg-4">Date Hired</label>
            <div class="col-lg-8 col-md-10">
              <input
                class="form-control"
                type="date"
                name="date_employed"
                v-model="employee.date_employed"
                id="date_employed"
                placeholder="Select the date when this person was hired"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="date_employed" class="col-form-label col-md-2 col-lg-4">Department</label>
            <div class="col-lg-8 col-md-10">
              <select class="form-control" v-model="employee.admin_departments_id">
                <option
                  v-for="department in departments"
                  v-bind:key="department.id"
                  v-bind:value="department.id"
                >{{department.department_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group row">
            <label for="othernames" class="col-form-label col-md-2 col-lg-4">Other Names</label>
            <div class="col-lg-8 col-md-10">
              <input
                type="text"
                name="othernames"
                id="othernames"
                class="form-control"
                v-model="employee.othernames"
                placeholder="Other Names"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="tel" class="col-form-label col-md-2 col-lg-4">Telephone Number</label>
            <div class="col-lg-8 col-md-10">
              <input
                type="text"
                name="tel"
                id="tel"
                class="form-control"
                v-model="employee.tel"
                placeholder="Telephone Number"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="date_of_birth" class="col-form-label col-md-2 col-lg-4">Date Of Birth</label>
            <div class="col-lg-8 col-md-10">
              <input
                class="form-control"
                type="date"
                name="date_of_birth"
                v-model="employee.date_of_birth"
                id="date_of_birth"
                placeholder="Select the date of birth"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="department" class="col-form-label col-md-2 col-lg-4">Position</label>
            <div class="col-lg-8 col-md-10">
              <select class="form-control" name="department" id="department" v-model="employee.admin_departments_id">
                <option
                  v-for="department in departments"
                  v-bind:key="department.id"
                  v-bind:value="department.id"
                >{{department.department_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="basic_pay" class="col-form-label col-md-2 col-lg-4">Basic Pay</label>
            <div class="col-lg-8 col-md-10">
              <input
                type="text"
                name="basic_pay"
                id="basic_pay"
                class="form-control"
                v-model="employee.basic_pay"
                placeholder="First Name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="house_allowance" class="col-form-label col-md-2 col-lg-4">House Allowance</label>
            <div class="col-lg-8 col-md-10">
              <input
                type="text"
                name="house_allowance"
                id="house_allowance"
                class="form-control"
                v-model="employee.house_allowance"
                placeholder="First Name"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group prepend-top-default append-bottom-20">
        <div class="avatar-container s90">
          <div class="avatar project-avatar s90 identicon bg4">P</div>
        </div>
        <label class="label-bold d-block" for="project_avatar">Employee photo</label>
        <button class="btn js-choose-avatar-button" type="button">Choose file…</button>
        <span class="file_name js-avatar-filename">No file chosen</span>
        <input
          class="js-avatar-input hidden"
          type="file"
          name="project[avatar]"
          id="project_avatar"
          data-is-dirty-submit-input="true"
          data-dirty-submit-original-value
        />
        <div class="form-text text-muted">The maximum file size allowed is 2MB.</div>
      </div>

      <div class="footer-block row-content-block">
        <span class="append-right-10">
          <input class="btn btn-success" type="submit" value="Save" />
        </span>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "EmployeeEditor",
  data() {
    return {
      isAdding: false,
      employeeId: null,
      departments: [],
      employee: [],
      error: "",
      dptFields: { text: "department_name", value: "id" }
    };
  },
  created() {
    this.loadDepartments();
    this.loadEmployeeInfo();
  },
  methods: {
    loadDepartments() {
      this.$http.secured
        .get("/admin/departments")
        .then(response => {
          this.departments = response.data;
        })
        .catch(error => this.setError(error, "Something went wrong"));
    },
    loadEmployeeInfo() {
      this.employeeId = this.$route.params.id;
      if (this.employeeId === "new") {
        this.employeeId = null;
        this.isAdding = true;
        this.employee = {
          firstname: null,
          othernames: null,
          email: null,
          tel: null,
          id_number: null,
          nssf_number: null,
          nhif_number: null,
          pin_number: null,
          address: null,
          city: null,
          postcode: null,
          county: null,
          country: null,
          date_of_birth: null,
          date_employed: null,
          admin_departments_id: null,
          basic_pay: 0,
          house_allowance: 0
        };
      } else {
        this.$http.secured
          //fetch employee
          .get(`/hr/employees/${this.employeeId}`)
          .then(response => {
            this.employee = response.data;
          })
          .catch(error => this.setError(error, "Something went wrong"));
      }
    },
    setError(error, text) {
      this.error =
        (error.response && error.response.data && error.response.data.error) ||
        text;
    },
    save() {
      if (this.isAdding) {
        console.log(this.employee);
        this.$http.secured
          .post(`/hr/employees/`, { hr_employee: this.employee })
          .then(response => {
            this.employeeId = response.data.id;
            this.isAdding = false;
          })
          .catch(error => (this.error = error));
      } else {
        this.$http.secured
          .put(`/hr/employees/${this.employeeId}`, {
            hr_employee: this.employee
          })
          .catch(error => (this.error = error));
      }
    }
  }
};
</script>