<template>
  <div class="container-fluid container-limited">
    <h3 class="page-title">Departments</h3>
    <div class="top-area adjust">
      <ul class="nav-links issues-state-filters nav nav-tabs"></ul>
      <div class="nav-controls">
        <form action accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓" />
          <input
            type="search"
            name="search"
            id="branch-search"
            placeholder="Filter department list"
            class="form-control search-text-input input-short"
            spellcheck="false"
          />
        </form>
        <button
          v-if="!addNewVisible"
          class="btn btn-primary"
          @click.prevent="showAddDept()"
        >New department</button>
      </div>
      <p></p>
    </div>
    <p></p>
    <div v-if="addNewVisible > 0" class="info-well d-none d-sm-block">
      <div class="well-segment">
        <form action @submit.prevent="addDepartment()">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label for="name" class="col-form-label col-md-2 col-lg-4">Department Name</label>
                <div class="col-lg-8 col-md-10">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    v-model="newDepartment.department_name"
                    placeholder="Department Name"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group row">
                <label for="desc" class="col-form-label col-md-2 col-lg-4">Description</label>
                <div class="col-lg-8 col-md-10">
                  <input
                    type="text"
                    name="desc"
                    id="desc"
                    class="form-control"
                    v-model="newDepartment.Description"
                    placeholder="Description"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-1">
              <span class="append-right-10">
                <input class="btn btn-success" type="submit" value="Save" />
              </span>
            </div>
          </div>
        </form>
         <div v-if="error" class="form-group alert alert-danger">
            <span>{{error}}</span>
        </div>
      </div>
    </div>

    <ul class="content-list commit-list flex-list">
      <li v-for="department in departments" :key="department.id" :department="department">
        <span>{{department.department_name}}</span>
      </li>
    </ul>
    <hr />
  </div>
</template>

<script>
export default {
  name: "Departments",
  data() {
    return {
      departments: [],
      newDepartment: [],
      error: "",
      editedDepartment: "",
      addNewVisible: false,
      searchText: 'info'
    };
  },
  created() {
    if (!localStorage.signedIn) {
      this.$router.replace("/");
    } else {
      this.getDepartments()
    }
  },
  methods: {
    showAddDept() {
      this.addNewVisible = !this.addNewVisible;
    },
    addDepartment() {
        const newDept = this.newDepartment;
        if (!newDept)  {
            return
        }
        this.$http.secured.post('/admin/departments/', {admin_department: {
            department_name: this.newDepartment.department_name
            , description: this.newDepartment.description
            }})
        .then (response => {
            this.departments.push(response.data)
            this.newDepartment = []
            this.showAddDept()
        })
        .catch(error => this.error = error)
    },
    getDepartments () {
      const searchText = this.searchText
      this.$http.secured
        .get("/admin/departments/", {params: {searchText}})
        .then(response => {
          this.departments = response.data;
        })
        .catch(error => this.setError(error, "Something went wrong"));
    }
  }
};
</script>