<template>
  <header>
    <nav v-if="loggedIn" class="navbar navbar-expand-md navbar-dark bg-dark">
      <div v-if="loggedIn" class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/employees">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/attendance">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Leaves</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payroll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
      </div>
     
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li v-if="loggedIn" class="nav-item">
            <a class="nav-link" href="/signout">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Header",
  created() {
    if (!this.confirmLogin()) {
      this.$router.replace("/");
      this.loggedIn = false;
    } else {
        this.loggedIn = true;
    }
  },
  data() {
      return {
          loggedIn: false,
          userName: '',
          email: ''
      }
  },
  mounted () {
      if (localStorage.signedIn) {
          this.loggedIn = localStorage.signedIn
      } else {
          this.loggedIn = false
      }
  },
  watch: {
      loggedIn(newLoggedIn) {
          localStorage.signedIn = newLoggedIn
      }
  },
  methods: {
    confirmLogin() {
      return localStorage.signedIn
    },
    signOut() {
      this.$http.secured
        .delete("/signin")
        .then(response => {
          delete localStorage.csrf;
          delete localStorage.signedIn;
          this.$router.replace("/");
        })
        .catch(error => this.setError(error, "Could not sign out"));
    }
  }
};
</script>