<template>
    <div class="login-form">
        <h2 class="text-center">User Registration</h2>
        <form @submit.prevent="signup">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input class="form-control" required="" v-model="email" type="email" name="email" id="email" placeholder="username@company.com">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" required="" v-model="password" type="password" name="password" id="password" placeholder="password">
            </div>

            <div class="form-group">
                <label for="password_confirmation">Password Confirmation</label>
                <input class="form-control" required="" v-model="password_confirmation" type="password" name="password_confirmation" id="password_confirmation" placeholder="password">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" >Sign Up</button>
            </div>
        </form>
        <div class="my-4"><router-link to="/" class="link-grey">Click here to log in instead</router-link></div>
        <div v-if="error" class="form-group alert alert-danger">
            <span>{{error}}</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Signup',
    data() {
        return {
            email: '',
            password: '',
            password_confirmation: '',
            error: ''
        }
    },
    methods: {
        signup () {
            if (this.password != this.password_confirmation) {
                this.error = 'Please ensure that the passwords match'
                return
            } else {
                this.error = ''
            }
            this.$http.plain.post('/signup', {email: this.email, password: this.password})
            .then(response => this.loginSuccessful(response))
            .catch(error => this.loginFailed(error))
        },
        loginSuccessful (response) {
            if (!response.data.csrf) {
                this.loginFailed(response)
                return
            }

            localStorage.csrf = response.data.csrf
            localStorage.signedIn = true
            this.$router.replace('/employees')
        },
        loginFailed (error) {
            this.error = (error.response && error.response.data && error.response.data.error) || 'Login Failed. Check your email/password.'
            delete localStorage.csrf
            delete localStorage.signedIn
        },
        checkIfUserIsSignedIn () {
            if (localStorage.signedIn) {
                this.$router.replace('/employees')
            }
        }
    }
}
</script>